@model List<AcunMedyaPortfolyoProject.Models.Contacts>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Contacts</h2>
<div class="container">
    <table class="table table-hover table-striped align-middle shadow-sm rounded">
        <thead class="table-dark text-center">
            <tr>
                <th>Contact ID</th>
                <th>Description</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ContactID</td>
                    <td class="text-start">@item.Description</td>
                    <td class="text-start">@item.Adress</td>
                    <td><a href="mailto:@item.Email" class="text-decoration-none">@item.Email</a></td>
                    <td>@item.Phone</td>
                    <td>
                        <a href="/Contacts/UpdateContacts/@item.ContactID" class="btn text-white" style="background-color: #8B0000; border-radius: 20px; padding: 5px 15px;">
                            🔄 Güncelle
                        </a>
                    </td>
                    <td>
                        <a href="/Contacts/DeleteContacts/@item.ContactID" class="btn btn-dark rounded-pill px-3">
                            🗑️ Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <a href="/Contacts/CreateContacts/" class="btn text-white shadow-sm mt-3"
       style="background-color: #800020; border-radius: 25px; padding: 10px 20px; font-weight: bold;">
        ➕ Add
    </a>

</div>

